Makefile
Jenkinsfile
**/.git
**/.gitignore
**/test*
**/.DS_Store
**/*.pyc
**/*.pyo
**/.cache
**/__pycache__
**/.idea
**/*.pytest_cache
**/docs
**/tests
**/test-results
**/molecule
**/*.md
**/wrapper-example
